<%= form_with model: @articulo, local: true do |form| %>
    <% if @articulo.errors.any? %>
        <div id="error">
            <h2>
                <%= pluralize(@articulo.errors.count, "Error") %> prohibido
                Este artículo Contiene:
            </h2>
            <ul>
                <% @articulo.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>
<p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
</p>
<p>
    <%= form.submit %>
</p>
<% end %>