<h1>Nuevo Artículo</h1>

<%= form_with scope: :articulo, url: articulos_path,local: true do |form| %>
    <% if @articulo.errors.any? %>
        <div id="error">
            <h2>
                <%= pluralize(@articulo.errors.count, "error") %>
                Paila, no se puede guardar el artículo
            </h2>

            <ul>
                <% @articulo.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>

        </div>

    <% end %>
    <p>
        <%= form.label :Título, class: 'LabelTitulo' %> <br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :Texto, class: 'LabelTitulo' %><br>
        <%= form.text_area :text %>
    </p>

    <p>
        <%= form.submit "Guardar Artículo", class: 'guardar' %>
    </p>
<% end %>
<%= link_to "Volver", articulos_path %>